In [3]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
0,2,admiral,Admiral,male,bird,1-27,cranky,Steep Hill,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,agent-s,Agent S,female,squirrel,7-2,peppy,DJ K.K.,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,agnes,Agnes,female,pig,4-21,uchi,K.K. House,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,al,Al,male,gorilla,10-18,lazy,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,alfonso,Alfonso,male,alligator,6-9,lazy,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...
...,...,...,...,...,...,...,...,...,...,...,...
386,475,winnie,Winnie,female,horse,1-31,peppy,My Place,hay-OK,villager-winnie,https://villagerdb.com/images/villagers/thumb/...
387,477,wolfgang,Wolfgang,male,wolf,11-25,cranky,K.K. Song,snarrrl,villager-wolfgang,https://villagerdb.com/images/villagers/thumb/...
388,480,yuka,Yuka,female,koala,7-20,snooty,Soulful K.K.,tsk tsk,villager-yuka,https://villagerdb.com/images/villagers/thumb/...
389,481,zell,Zell,male,deer,6-7,smug,K.K. D&B,pronk,villager-zell,https://villagerdb.com/images/villagers/thumb/...
390,483,zucker,Zucker,male,octopus,3-8,lazy,Spring Blossoms,bloop,villager-zucker,https://villagerdb.com/images/villagers/thumb/...

In [10]:
id_count = df['id'].value_counts()
id_count

id
admiral    1
mott       1
paula      1
patty      1
pate       1
          ..
eloise     1
elmer      1
ellie      1
elise      1
zucker     1
Name: count, Length: 390, dtype: int64

In [11]:
gender_count = df['gender'].describe()
gender_count

count      391
unique       2
top       male
freq       204
Name: gender, dtype: object

In [5]:
rows, columns = df.shape

display(f"Number of rows: {rows}")
display(f"Number of columns: {columns}")

'Number of rows: {rows}'

'Number of columns: {columns}'

In [ ]:
#4
'''df.shape returns the actual dimensions of the dataset which directly shows the rows and columns that one dataset
has. df.describe() does not show the non-numerical datas. It only shows the numerical columns. These two methods 
will result the output columns in different values.'''

'''df.shape counts the total missing values in arow. df.describe() focuses on missing values appear in columns and 
it only represents the non-null numbers in each columns.'''

In [ ]:
#5
'''An attribute is the characteristic of the object. It always return a tuple and it is without parentheses.'''

'''A method is a function that let the object do actions. There are paretheses because we might put arguments in that
in order to let the object take the action. It goes through calculation and return a dataframe'''

In [ ]:
#2.2 
'''Observation: Observation is a data point or record point in a dataset that shows the specific thing 
that is being measured and analized. It includes all the the value for the variables for a single instance. 
In this specific example, each row is an observation. It focuses on each villagers and their information 
such as name, gender and so on. Therefore, different villagers would be an example of observation.
'''

In [ ]:
#2.2
'''Variable: A variable is a single and specific characteristics or feartures for the observation that is being
analyzed. It is the different information that one observation captured. In this example, each column is a variable.
Name, gender, species, birthday are all variables.'''

# Here's a summary of what we covered today:

Determining Rows and Columns in a Dataset:
We discussed how to use Python's pandas library to determine the number of rows and columns in a dataset. This involves:
    Installing pandas.
    Loading the dataset using pd.read_csv().
    Using the .shape attribute to get the number of rows and columns.
Understanding Observations and Variables:
    Observations: Represent individual records or rows in the dataset (e.g., each villager in a villagers dataset).
    Variables: Represent the attributes or features recorded for each observation (e.g., name, species, personality).
Summarizing Columns:
    Numerical Columns: Using .describe() to get statistical summaries such as mean, median, and standard deviation.
    Categorical Columns: Using .value_counts() to get frequency counts of unique values.
    Common Issues with Code:
We addressed an issue with referencing column names in pandas:
    Using df['id'] instead of df[id] to access a column named "id".
    
    The link: https://chatgpt.com/share/a2ed21df-aa66-4d3e-8bc7-